<div>
   <h3>Contact MI CASA GUATAPE:</h3>
     <p>Phone:<br/><br/>
     <strong>(4) 861 0632</strong> (Hostal) <br/>
     <strong>301 457 5726</strong> (Susy) <br/><br/>
     Facebook <br/>
     <a href="www.facebook.com/micasaguatape">www.facebook.com/micasaguatape</a><br/><br/>
     <a href="http://www.tripadvisor.com/Hotel_Review-g1087551-d3343145-Reviews-Hostal_Mi_Casa_Guatape-Guatape_Antioquia_Department.html">
     <strong>Number 1 rated hostel in Guatapé!!</strong></a></p>
</div>
