 <% provide(:title, 'About us') %>

<h2>About us</h2>
  <p>We are Sean and Susy, a English/Colombian couple. In our travels we found
  this wonderful place called Guatape. We liked it so much that decided to open
  our hostel here so that people from around the world can come and enjoy this
  magical area of Colombia full of peace, colours and beautiful nature.</p>
<h2>Quienes somos</h2>
  <p>Nosotros somos Sean y Susy, una pareja joven de ingles y colombiana. Nos
  gusta mucho viajar y ya lo hemos hecho, y en nuestros viajes encontramos este
  maravilloso lugar llamado Guatape. Nos gusto tanto que decidimos abrir aquí
  nuestro hostal para que la gente de todo el mundo pueda venir y difrutar de
  esta area de Colombia llena de paz, colores y bellísima naturaleza.</p>
