  <h3>Welcome to MI CASA GUATAPE</h3>
  <div class='home'>
    <%= image_tag 'home/home.jpg'%>
  </div>
    <p> We are a Colombian/English couple who as ex-travellers, know everything
    a backpacker needs! We provide a welcoming atmosphere with amazing lake
    views from our balcony, decking area & rooms. Relax in the beautiful town
    or climb the stairs to the top of the rock, La Piedra del Peñol. We can
    provide insider information & arrange many of the activities you can do in
    the area like rock climbing, waterfall hikes & kayaking to name a few!
    <br/><br/>
    Now, after expanding and being open for over a year, we have established
    ourselves as the Number 1 rated Hostel on TripAdvisor, HostelWorld and
    HostelBookers!
    <br/><br/>
    To make a booking you can also visit our <%= link_to 'Contact',
    contact_path %> section, we always
    reply swiftly! </p>
