<% provide(:title, 'Things to do') %>
<h3>What to do</h3>
<p>There is an endless list of things you can do around Guatape, depending on
what you like to do; the following is a list of the main activities:</p>
<ul>
  <li>Walk to the top of the Piedra del Peñol also known as Peñol de
  Guatape</li>
  <li>Visit the picturesque town of Guatape famous for its colorful zocalos</li>
  <li>Swimming in the lake</li>
  <li>Fishing</li>
  <li>Boat trips</li>
  <li>Kayaking</li>
  <li>Rock climbing on the magnificent rock</li>
  <li>Water sports such as water ski, jet ski, wind surfing, etc.</li>
  <li>Walks around the countryside</li>
  <li>Monastery Santa María de Epifanía</li>
  <li>Museo histórico in Guatapé</li>
  <li>Relaxing</li>
</ul>
<hr>
<h3>Actividades</h3>
<ul>
  <li>Visitar el pintoresco pueblo de Guatape famoso por sus coloridos zocalos</li>
  <li>Nadar en la Represa</li>
  <li>Pescar</li>
  <li>Paseos en lancha.</li>
  <li>Kayaking</li>
  <li>Escalar la piedra</li>
  <li>Deportes acuáticos como ski, Jet Ski, bicicletas acuáticas, etc.</li>
  <li>Caminatas por el campo</li>
  <li>Monasterio Santa María de Epifanía.</li>
  <li>Museo Histórico</li>
</ul>
<!-- tumbnail de las fotos de escalada -->
