<% provide(:title, 'Where are we?') %>
<div>
  <h3>How to get to MI CASA GUATAPE</h3>
  <p> We are 3/4 mins before the center of Guatape town center, just below the
  main attraction, the big rock!<br/><br/>
  Ask your driver to drop you off at the well known "Estadero La Mona". We
  are just opposite and very easy to find!<br/><br/>
  Getting to the center of town is also very easy ! Many people like to walk,
  much of which has a path along the lake. If not, you can flag down a very
  cheap collectivo jeep which pass by the hostel about every 10 mins from
  early in the morning until the evening!<br/><br/>
  Buses leave from the North Terminal in Medellin (connected to Caribe Metro
  Station) every half hour or hour and cost $12,000 COP. Go to kiosk 14 on
  the ground floor to buy your ticket and ask the bus driver for Estadero La
  Mona.</p>
  <h3>Como llegar a MI CASA GUATAPE</h3>
  Estamos ubicados aproximadamente 1 Km despues del puente de Navegar y 4
  minutos antes de llegar al centro de Guatape.<br/><br/>
  MI CASA GUATAPE se encuentra justo al frente del Estadero La Mona.<br/><br/>
  Muy facil de encontrar asi sea en carro o en bus sobre la carretera que
  comunica el Penol y Guatape. <br/><br/>
  <%= image_tag 'where/aeria.jpg' %>
  <br/>
  <%= image_tag 'where/piedra.jpg' %>
</div>
